@import './base.css';

header{
 font-family:var( --mainFont);
 padding: 10px 10px;
 box-shadow: 1px -1px 20px 0px var(--subcolor);
position: sticky;
top: 0px;
background-color: white;
}
header .row div{
width: 30%;
text-align: center;

 }

header .logo  img {
width: 20%;
}
header .menubotton{
display: none;

}
 header .navbar ul{
display: flex;
justify-content: space-between;
gap: 10px;
 }
 header .navbar ul a:hover{
font-weight: 600;
}

 header .headericon{
display: flex;
justify-content: center;
 gap:10px;
 }
@media screen and (max-width:987px) {
header .container{
width: calc( 100% - 40px);

}

header .menubotton{
    display: block;
    order:1;

}
 .navbar {
    display: none;
 }   

}
@media screen and (max-width:600px) {
    header{
       padding: 5px 5px; 
    }
header .container{
width: 100%;

}
header .logo  img {
width: 30%;
}

}
@media screen and (max-width:335px) {
    header{
        padding: 10px 10px;
    }
   header .headericon{
        display: none;
    }
    header .logo  img {
width: 50%;
}
}
/* ----------------------------------------End of header css ------------------------------ */
