@import './base.css';

header{
 font-family:var( --mainFont);
 padding: 10px 10px;
 box-shadow: 1px -1px 20px 0px var(--subcolor);
position: sticky;
top: 0px;
background-color: white;
}
header .row div{
width: 30%;
text-align: center;

 }

header .logo  img {
width: 20%;
}
header .menubotton{
display: none;

}
 header .navbar ul{
display: flex;
justify-content: space-between;
gap: 10px;
 }
 header .navbar ul a:hover{
font-weight: 600;
}

 header .headericon{
display: flex;
justify-content: center;
 gap:10px;
 }
@media screen and (max-width:987px) {
header .container{
width: calc( 100% - 40px);

}

header .menubotton{
    display: block;
    order:1;

}
 .navbar {
    display: none;
 }   

}
@media screen and (max-width:600px) {
    header{
       padding: 5px 5px; 
    }
header .container{
width: 100%;

}
header .logo  img {
width: 30%;
}

}
@media screen and (max-width:335px) {
    header{
        padding: 10px 10px;
    }
   header .headericon{
        display: none;
    }
    header .logo  img {
width: 50%;
}
}
/* ----------------------------------------End of header css ------------------------------ */


.intro-section {
margin-top: 2%;
background-image: url('../image/intro-sectionimage/background/bg.png');
background-size: cover ;
background-position: center;
height: 600px;
}
.intro-section .container{
  height: 100%;
}
.intro-section .row{
  height: 100%;


}


.intro-section .left-half {
  margin-top: 10%;
  width:50%;
height: 100%;
display: flex;
flex-direction: column;

gap:40px;

}

.intro-section .left-half .welcome p {
    font-family: var(--subFont);
font-size: 50px;
font-weight: 700;
text-transform: uppercase;


}

.intro-section .left-half .welcome p span {
color: var(--subcolor) ;
}

.intro-section .left-half .description {
width: 70%;

}

 .learnbotton {
    width: 15%;
    font-size: small;
    font-family: var(--subFont);
    text-align: center;
    padding: 7px 10px;
display: inline-block ;

background-color: var(--subcolor);
color: white;
border:solid var(--subcolor) ;


}
.intro-section .right-half{

  width:50%;
height: 100%;
} 
.intro-section .right-half img {
    width: 100%;
    display: block;
    height: auto;
}
@media screen and (max-width: 1030px){
  .intro-section {
    height: 853px;

  }
.intro-section .row {
flex-direction: column;
flex-wrap: nowrap;
align-items: flex-start;
}
.intro-section .right-half, 
.intro-section .left-half {
width: 100%;
}
 .learnbotton {
  font-size: large;


}
}
@media screen and (max-width: 600px) {
    .intro-section {
    height: 700px;

  }
  .intro-section .row {
  gap: 15px;
}
.intro-section .left-half {
  align-items: center;
}
.intro-section .left-half .learnbotton {
  width: 35%;


}


}
@media screen and (max-width: 465px) {

.intro-section .container {
  width: 100%;


}

.intro-section .left-half .welcome p {
  font-size: 40px;
}


}
/* ----------------------------------------End of intro-section css ------------------------------ */

.about-section .upper-half{
height: 19em;

}
.about-section .container,
.about-section .container .upper-half .row{
  height: 100%;
}
.about-section .container .upper-half .row {
  flex-wrap: nowrap;
  justify-content: space-around;
}
.about-section .upper-half .row > div {
height:50% ;
width: 20%;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
justify-content: center;
gap: 1em;
box-shadow: 0em 0em 0.5em 0em var(--subcolor);
}
.about-section .upper-half .row > div i {
color: var(--subcolor);
font-size: 2em;

}
@media screen and (max-width:800px )
{
 .about-section .container .upper-half .row {
    flex-wrap: wrap;
    gap: 1em;
  }
  .about-section .upper-half .row > div{
    width: 30%;
  }

}
@media screen and (max-width:570px)
{
  .about-section .container {
 width: calc( 100% - 40px );

  }
 .about-section .upper-half .row > div{
    width: 45%;
  }


}

/* ----------------------------------------End of About-section upper-half css ------------------------------ */
/* ----------------------------------------Start of About-section lower-half css ------------------------------ */
.about-section .lower-half .row > div {
  width: 45%;
}


.about-section .lower-half .about-photo img {
width: 100%;
height: auto;
}
.about-section .lower-half .about-right {
display: flex;
flex-direction: column;
gap:3em;

}
.about-section .lower-half .about-right .about-us p {
font-size: 2em;
font-weight: 700;
font-family: var(--subFont);

}
.about-section .lower-half .about-right  .learnbotton{
width: 20%;

}
@media screen and (max-width:1030px ) {
.about-section .lower-half .about-right  .learnbotton {
  width: 40%;
}

}
@media screen and (max-width:415px )
{ 



  .about-section .container {
    width: 100%;
  }
  .about-section .lower-half {
    margin-top: 2em;
  }
.about-section .lower-half .row {
flex-direction: column;

}
.about-section .lower-half .row > div
{
width: 65%;
}
.about-section .lower-half .about-right {
  width: 100%;
gap:1.5em;
text-align: center;
align-items: center;
}
.about-section .lower-half .about-right .description p{
  width: 20em;
}
.about-section .lower-half .about-right  .learnbotton {
  width: 50%;
  text-align: center;
}
}
/* ----------------------------------------end of About-section lower-half css ------------------------------ */

