@import './base.css';

header{
 font-family:var( --mainFont);
 padding: 10px 10px;
 box-shadow: 1px -1px 20px 0px var(--subcolor);
position: sticky;
top: 0px;
background-color: white;
}
header .row div{
width: 30%;
text-align: center;

 }

header .logo  img {
width: 20%;
}
header .menubotton{
display: none;

}
 header .navbar ul{
display: flex;
justify-content: space-between;
gap: 10px;
 }
 header .navbar ul a:hover{
font-weight: 600;
}

 header .headericon{
display: flex;
justify-content: center;
 gap:10px;
 }

@media screen and (max-width:987px) {
header .container{
width: calc( 100% - 40px);

}

header .menubotton{
    display: block;
    order:1;

}
 .navbar {
    display: none;
 }   

}
@media screen and (max-width:600px) {
    header{
       padding: 5px 5px; 
    }
header .container{
width: 100%;

}
header .logo  img {
width: 30%;
}

}
@media screen and (max-width:335px) {
    header{
        padding: 10px 10px;
    }
   header .headericon{
        display: none;
    }
    header .logo  img {
width: 50%;
}
}
/* ----------------------------------------End of header css ------------------------------ */


.intro-section {
margin-top: 2%;
background-image: url('../image/intro-sectionimage/background/bg.png');
background-size: cover ;
background-position: center;
height: 600px;
}
.intro-section .container{
  height: 100%;
}
.intro-section .row{
  height: 100%;


}


.intro-section .left-half {
  margin-top: 10%;
  width:50%;
height: 100%;
display: flex;
flex-direction: column;

gap:40px;

}

.intro-section .left-half .welcome p {
    font-family: var(--subFont);
font-size: 50px;
font-weight: 700;
text-transform: uppercase;


}

.intro-section .left-half .welcome p span {
color: var(--subcolor) ;
}

.intro-section .left-half .description {
width: 70%;

}

 .learnbotton {
    width: 15%;
    font-size: small;
    font-family: var(--subFont);
    text-align: center;
    padding: 7px 10px;
display: inline-block ;

background-color: var(--subcolor);
color: white;
border:solid var(--subcolor) ;


}
.intro-section .right-half{

  width:50%;
height: 100%;
} 
.intro-section .right-half img {
    width: 100%;
    display: block;
    height: auto;
}
@media screen and (max-width: 1030px){
  .intro-section {
    height: 853px;

  }
.intro-section .row {
flex-direction: column;
flex-wrap: nowrap;
align-items: flex-start;
}
.intro-section .right-half, 
.intro-section .left-half {
width: 100%;
}
 .learnbotton {
  font-size: large;


}
}
@media screen and (max-width: 600px) {
    .intro-section {
    height: 700px;

  }
  .intro-section .row {
  gap: 15px;
}
.intro-section .left-half {
  align-items: center;
}
.intro-section .left-half .learnbotton {
  width: 35%;


}


}
@media screen and (max-width: 465px) {

.intro-section .container {
  width: 100%;


}

.intro-section .left-half .welcome p {
  font-size: 40px;
}


}
/* ----------------------------------------End of intro-section css ------------------------------ */

.about-section .upper-half{
height: 19em;

}
.about-section .container,
.about-section .container .upper-half .row{
  height: 100%;
}
.about-section .container .upper-half .row {
  flex-wrap: nowrap;
  justify-content: space-around;
}
.about-section .upper-half .row > div {
height:50% ;
width: 20%;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
justify-content: center;
gap: 1em;
box-shadow: 0em 0em 0.5em 0em var(--subcolor);
}
.about-section .upper-half .row > div i {
color: var(--subcolor);
font-size: 2em;

}
@media screen and (max-width:800px )
{
 .about-section .container .upper-half .row {
    flex-wrap: wrap;
    gap: 1em;
  }
  .about-section .upper-half .row > div{
    width: 30%;
  }

}
@media screen and (max-width:570px)
{
  .about-section .container {
 width: calc( 100% - 40px );

  }
 .about-section .upper-half .row > div{
    width: 45%;
  }


}

/* ----------------------------------------End of About-section upper-half css ------------------------------ */
/* ----------------------------------------Start of About-section lower-half css ------------------------------ */
.about-section .lower-half .row > div {
  width: 45%;
}


.about-section .lower-half .about-photo img {
width: 100%;
height: auto;
}
.about-section .lower-half .about-right {
display: flex;
flex-direction: column;
gap:3em;

}
.about-section .lower-half .about-right .about-us p {
font-size: 2em;
font-weight: 700;
font-family: var(--subFont);

}
.about-section .lower-half .about-right  .learnbotton{
width: 20%;

}
@media screen and (max-width:1030px ) {
.about-section .lower-half .about-right  .learnbotton {
  width: 40%;
}

}
@media screen and (max-width:415px )
{ 



  .about-section .container {
    width: 100%;
  }
  .about-section .lower-half {
    margin-top: 2em;
  }
.about-section .lower-half .row {
flex-direction: column;

}
.about-section .lower-half .row > div
{
width: 65%;
}
.about-section .lower-half .about-right {
  width: 100%;
gap:1.5em;
text-align: center;
align-items: center;
}
.about-section .lower-half .about-right .description p{
  width: 20em;
}
.about-section .lower-half .about-right  .learnbotton {
  width: 50%;
  text-align: center;
}
}
/* ----------------------------------------end of About-section lower-half css ------------------------------ */

/*---------------------mubaslat---------------------*/
#Featured,
#Arrivals {
  font-family: var(--mainFont);
  background-color: white;
}

#Featured>h1,
#Arrivals>h1 {
  color: black;
  text-align: center;
  font-size: 2.5em;
  margin: 0.5em;
  margin: 1em 0 ;

}

.card1,
.card2,
.card3,
.card4,
.card5,
.card6,
.card7,
.card8,
.card9,
.card10,
.card11,
.card12,
.card13,
.card14,
.card15 {
  border: 0.12em solid black;
  padding: 1em;
  margin-right: 3.8em;
  margin: 0;
  text-align: center;
  align-items: center;
  font-family: var(--mainFont);
  background: white;
  flex-grow: 1;
  flex-basis: auto;
  box-sizing: border-box;
}

.card1 h3,
.card2 h3,
.card3 h3,
.card4 h3,
.card5 h3,
.card6 h3,
.card7 h3,
.card8 h3,
.card9 h3,
.card10 h3,
.card11 h3,
.card12 h3,
.card13 h3,
.card14 h3,
.card15 h3 {
  font-size: 1em;
  margin: 0.5em 0;
}

.card1 img,
.card2 img,
.card3 img,
.card4 img,
.card5 img,
.card6 img,
.card7 img,
.card8 img,
.card9 img,
.card10 img,
.card11 img,
.card12 img,
.card13 img,
.card14 img,
.card15 img {
  width: auto;
  height: 15em;
  box-sizing: border-box;
  padding-left: 1em;
  padding-right: 1em;

}

.card1 .author,
.card2 .author,
.card3 .author,
.card4 .author,
.card5 .author,
.card6 .author,
.card7 .author,
.card8 .author,
.card9 .author,
.card10 .author,
.card11 .author,
.card12 .author,
.card13 .author,
.card14 .author,
.card15 .author {
  color: #868686;
  font-size: 0.8em;
  margin-bottom: 0.25em;
}

.card1 .genres,
.card2 .genres,
.card3 .genres,
.card4 .genres,
.card5 .genres,
.card6 .genres,
.card7 .genres,
.card8 .genres,
.card9 .genres,
.card10 .genres,
.card11 .genres,
.card12 .genres,
.card13 .genres,
.card14 .genres,
.card15 .genres {
  color: var(--subcolor);
  font-size: 0.8em;
  margin-bottom: 0.5em;
}

.card1 .price,
.card2 .price,
.card3 .price,
.card4 .price,
.card5 .price,
.card6 .price,
.card7 .price,
.card8 .price,
.card9 .price,
.card10 .price,
.card11 .price,
.card12 .price,
.card13 .price,
.card14 .price,
.card15 .price {
  font-size: 0.9em;
  margin-bottom: 0.6em;
}

.card1 .price .current,
.card2 .price .current,
.card3 .price .current,
.card4 .price .current,
.card5 .price .current,
.card6 .price .current,
.card7 .price .current,
.card8 .price .current,
.card9 .price .current,
.card10 .price .current,
.card11 .price .current,
.card12 .price .current,
.card13 .price .current,
.card14 .price .current,
.card15 .price .current {
  color: black;
  font-weight: bold;
}

.card1 .price .original,
.card2 .price .original,
.card3 .price .original,
.card4 .price .original,
.card5 .price .original,
.card6 .price .original,
.card7 .price .original,
.card8 .price .original,
.card9 .price .original,
.card10 .price .original,
.card11 .price .original,
.card12 .price .original,
.card13 .price .original,
.card14 .price .original,
.card15 .price .original {
  font-size: 0.8em;
  text-decoration: line-through;
  color: #a7a5a5;
  position: relative;
  top: 0.2em;
}

.card1 .learn-more,
.card2 .learn-more,
.card3 .learn-more,
.card4 .learn-more,
.card5 .learn-more,
.card6 .learn-more,
.card7 .learn-more,
.card8 .learn-more,
.card9 .learn-more,
.card10 .learn-more,
.card11 .learn-more,
.card12 .learn-more,
.card13 .learn-more,
.card14 .learn-more,
.card15 .learn-more {
  border: 0.133em solid var(--subcolor);
  background: none;
  color: black;
  padding: 0.8em 1.2em;
}

.card1 .learn-more:hover,
.card2 .learn-more:hover,
.card3 .learn-more:hover,
.card4 .learn-more:hover,
.card5 .learn-more:hover,
.card6 .learn-more:hover,
.card7 .learn-more:hover,
.card8 .learn-more:hover,
.card9 .learn-more:hover,
.card10 .learn-more:hover,
.card11 .learn-more:hover,
.card12 .learn-more:hover,
.card13 .learn-more:hover,
.card14 .learn-more:hover,
.card15 .learn-more:hover {
  background: var(--subcolor);
  color: white;
}

.cards-container {
  display: flex;
  overflow-x: scroll;
  padding: 1em;
  gap: 0.625em;
  gap: 2.5em;
  margin-bottom: 7em;
  margin-top: 0;
}

/* WebKit browsers (Chrome, Edge, Safari) */
.cards-container::-webkit-scrollbar {
  height: 0.6em;
}

.cards-container::-webkit-scrollbar-track {
  background-color: #bebdbd;
  border-radius: 3em;

  margin: 2em 2em 0 2em;
}

.cards-container::-webkit-scrollbar-thumb {
  background-color: var(--subcolor);
  border-radius: 3em;
}



.gallery {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 4em;
  justify-items: center;
}

/* For IPhone XR  */
@media (min-width: 414px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* For IPad Pro  */
@media (min-width: 1024px) and (max-width: 1400px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery .last {
    grid-column: 1 / -1;
  }
}


/* For Desktop */
@media (min-width: 1450px) {
  .gallery {
    grid-template-columns: repeat(5, 1fr);
  }
}

.new1,
.new2,
.new3,
.new4,
.new5,
.new6,
.new7,
.new8,
.new9,
.new10 {
  width: 12.8em;
  border: 0.15em solid black;
  padding: 1em;
  text-align: center;
  background-color: white;
}




.new1 img.book,
.new2 img.book,
.new3 img.book,
.new4 img.book,
.new5 img.book,
.new6 img.book,
.new7 img.book,
.new8 img.book,
.new9 img.book,
.new10 img.book {
  width: auto;
  height: 15em;
  box-sizing: border-box;
  padding-left: 0.6em;
  padding-right: 0.6em;

}

.new1 .title,
.new2 .title,
.new3 .title,
.new4 .title,
.new5 .title,
.new6 .title,
.new7 .title,
.new8 .title,
.new9 .title,
.new10 .title {
  margin-top: 0.5em;
  font-size: 0.9em;
  color: #333;
}

.new1 .stars,
.new2 .stars,
.new3 .stars,
.new4 .stars,
.new5 .stars,
.new6 .stars,
.new7 .stars,
.new8 .stars,
.new9 .stars,
.new10 .stars {
  margin-top: 0.5em;
}

.new1 .stars img,
.new2 .stars img,
.new3 .stars img,
.new4 .stars img,
.new5 .stars img,
.new6 .stars img,
.new7 .stars img,
.new8 .stars img,
.new9 .stars img,
.new10 .stars img {
  width: 100%;
  max-width: 7em;
  height: auto;
}

.learn-more2 {
  border: 0.133em solid var(--subcolor);
  background: none;
  color: black;
  padding: 0.9em 1.2em;
}

.learn-more2:hover {
  background: var(--subcolor);
  color: white;
} 
.blog {
  .blog-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 11rem;

    .blog-card {
      box-shadow: 1px 1px 5px var(--text-gray);

      &:hover {
        background: var(--primary-blue);
        box-shadow: 0 0 4px 1px var(--primary-blue);

        .bloger {
          color: var(--netural-white);
        }

        .blog-paragraph {
          color: var(--netural-white);
        }

        .bxs-calendar,
        .blog-icons i:nth-child(2) {
          color: var(--netural-white);
        }
      }

      .card-img-blog {
        width: 28rem;
        height: 18rem;
        margin-bottom: 0.5rem;
        object-fit: cover;
      }

      .blog-padding {
        padding: 0 1rem 1rem;
      }

      .bloger {
        color: var(--primary-blue);
        margin-bottom: 0.5rem;
      }

      .blog-paragraph {
        max-width: 25rem;
        margin-bottom: 1rem;
        text-align: justify;
        line-height: 1.4;
        color: var(--netural-black);
      }

      .blog-icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .bxs-calendar,
      .blog-icons i:nth-child(2) {
        color: var(--primary-blue);
      }
    }
  }
}